# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Targets stuff
_targets
_targets.yaml

# Quarto stuff
/.quarto/
/.luarc.json
_site/
_freeze/
manuscript/submissions/
manuscript/output/
*.ent
manuscript/*_files/
manuscript/*.html.md
manuscript/*.pdf.md
manuscript/*.docx.md
manuscript/*.odt.md

*.pdf
*.html
*.docx

!README.pdf

# Data stuff
data/raw_data_orig/
data/derived_data/
data/private_data/
original_data.rds

models/
private/

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
